.qr-code__img-code {
  margin-top: 2em;
}

.qr-code__img-code > img {
  width: 100%;
}

.qr-code p {
  white-space: pre-wrap;
}

.qr-code h2 {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: calc(var(--padding-main) * 1.5);
}
