.u-display-block {
  display: block;
}

.u-list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.u-padding-bottom--small {
  padding-bottom: 0.75em;
}

.u-padding-bottom--normal {
  padding-bottom: 1em;
}

.u-padding-bottom--medium {
  padding-bottom: 1.75em;
}

.u-padding-bottom--large {
  padding-bottom: 2.5em;
}

.u-padding-bottom--extra-large {
  padding-bottom: 4em;
}

.u-padding-vertical--normal {
  padding: 1em 0;
}

.u-padding-vertical--medium {
  padding: 1.75em 0;
}

.u-padding-top--normal {
  padding-top: 1em;
}

.u-margin-horizontal--card-negative {
  margin-left: calc(var(--padding-card-default) * -1);
  margin-right: calc(var(--padding-card-default) * -1);
}

.u-no-margin-top {
  margin-top: 0;
}

.u-text-align--left {
  text-align: left;
}

.u-text-align--center {
  text-align: center;
}

.u-button-reset {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  background: transparent;
}

.u-fontWeight--bold {
  font-weight: bold;
}

.u-margin-left--auto {
  margin-left: auto;
}

.u-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
